<!--
Variables:
 {{ include.id-left }}
 {{ include.id-right }}
 {{ include.maxwidth-right | default: 658 }}
 {{ include.maxwidth-left | default: 658 }}
 {{ include.adjust-left-percentage | default: 0 }}
 {{ include.adjust-right-percentage | default: 0 }}
-->


<div style="overflow:auto; text-align: center;">
	
	<style scoped>
		div.embed-instagram-double-left {
			float:left;
			margin-left:50px;
			transform: translateY({{ include.adjust-left-percentage | default: 0 }}%);
		}
		div.embed-instagram-double-right {
			float:right;
			margin-right:50px;
			transform: translateY({{ include.adjust-right-percentage | default: 0 }}%);
		}
			
		@media (max-width: 750px) {
    		div.embed-instagram-double-left {
				float:inherit;
				margin-left:0px;
				transform: translateY(0%);
			}
			div.embed-instagram-double-right {
				float:inherit;
				margin-right:0px;
				transform: translateY(0%);
			}
		}
	</style>

	{% assign id-left = include.id-left %}
	{% assign maxwidth-left = include.maxwidth-left | default: 658 %}
	{% assign caption-left = include.caption-left | default: 1 %}
	<div class="embed-instagram-double-left" > 
		{% if caption-left==1 %}
        	{% include embed-instagram.html id=id-left maxwidth=maxwidth-left %}
        {% else %}
        	{% include embed-instagram-nocaption.html id=id-left maxwidth=maxwidth-left %}
      	{% endif %}
		
	</div>

	{% assign id-right = include.id-right %}
	{% assign maxwidth-right = include.maxwidth-right | default: 658 %}
	{% assign caption-right = include.caption-right | default: 1 %}
	<div class="embed-instagram-double-right" > 
		{% if caption-right==1 %}
			{% include embed-instagram.html id=id-right maxwidth=maxwidth-right %}
		{% else %}
			{% include embed-instagram-nocaption.html id=id-right maxwidth=maxwidth-right %}
		{% endif %}
	</div>
	
</div>



<!--
    <iframe class='embed' src='//instagram.com/p/Bbn0vTvBWGx/embed/captioned/' width='400' height='664' frameborder='0' scrolling='no' allowtransparency='true'></iframe> 
    
    

-->

