<!--
Variables:
 {{ include.id-left }}
 {{ include.id-right }}
 {{ include.maxwidth-right | default: 658 }}
 {{ include.maxwidth-left | default: 658 }}
 {{ include.adjust-left-percentage | default: 0 }}
 {{ include.adjust-right-percentage | default: 0 }}
-->


<center>
<div style="overflow:hidden; text-align: center;">
	{% assign id-left = include.id-left %}
	{% assign id-right = include.id-right %}
	{% assign margin-left = include.margin %}
	{% assign margin-right = include.margin %}
	{% assign width-left = include.width %}
	{% assign width-right = include.width %}
	
	
	<style scoped>
		div.{{ id-left }} {
			float:left;
			width: {{ width-left | default: 350 }}px;
			margin-left:{{ margin-left | default: 0 }}px;
			
		}
		div.{{ id-right }} {
			float:right;
			width: {{ width-right | default: 350 }}px;
			margin-right:{{ margin-right | default: 0 }}px;
		}
			
		@media (max-width: 750px) {
    		div.{{ id-left }} {
				float:inherit;
				margin-left:auto;
				margin-right:auto;
			}
			div.{{ id-right }} {
				float:inherit;
				margin-left:auto;
				margin-right:auto;
			}
		}
	</style>

	{% assign caption-left = include.caption-left | default: 1 %}
	{% assign caption-right = include.caption-right | default: 1 %}
    <div class="{{ id-left }}" >    
    	{% if caption-left==1 %}
			{% include embed-instagram-new.html id=id-left %}        
		{% else %}
        	{% include embed-instagram-nocaption-new.html id=id-left %}
      	{% endif %}
	</div>
    <div class="{{ id-right }}" >    
		{% if caption-right==1 %}
			{% include embed-instagram-new.html id=id-right %}        
		{% else %}
        	{% include embed-instagram-nocaption-new.html id=id-right %}
      	{% endif %}
	</div>	
</div>
</center>


<!--
    <iframe class='embed' src='//instagram.com/p/Bbn0vTvBWGx/embed/captioned/' width='400' height='664' frameborder='0' scrolling='no' allowtransparency='true'></iframe> 
    
    

-->

