<span class="prevnext-post" style="display: block;">
      	  
   <a href="">
   	<span class"next-post" style="float: left; text-align: left;">
   		<p style="display: inline;">Next post</p>
   		<img style="display: block; max-width:250px; margin-top:10px" src="/assets/img/satay-bay-banner.jpg" />
   		<p style="display: inline;">This is the post title and it is very long</p>
   	</span>
   </a>
   
   <a href="">
   	<span class"previous-post" style="float: right; text-align: right;">
   		<p style="display: inline;">Previous post</p>
   		<img style="display: block; max-width:250px; margin-top:10px" src="/assets/img/satay-bay-banner.jpg" />
   		<p style="display: inline;">This is the post title and it is very long</p>
   	</span>
   </a>
  		  
</span>  