---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <img src="{{ post.image | escape }}" />
      </li>
    {% endfor %}
  </ul>

<!--
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->

</div>


  <div class="sidebar">
  
    <div class="youtube-subscribe" >
      <p class="youtube-subscribe-txt">Subscribe to us on </p>
      
      <script src="https://apis.google.com/js/platform.js"></script>
      <div class="g-ytsubscribe" data-channelid="UC1k4_eUajFuNQSgSf1MiFXg" data-layout="default" data-count="hidden"></div>
      
    </div>
  
    {% include youtube-latest.html %}

    <div class="insta-follow" >
      <a href="https://instagram.com/{{ site.instagram.username }}">
        <button class="insta-follow-btn" >Follow</button>
      </a>
      <p class="insta-follow-txt"> us on Instagram! </p>
    </div>
  

    {% assign link = '{{link}}' %}
    {% assign image = '{{image}}' %}
    {% assign model = '{{model}}' %}
    <script type="text/javascript" src="assets/script/instafeed.min.js"></script>
    <script type="text/javascript">
      var feed = new Instafeed({
        get: 'user',
        userId: '{{ site.instagram.user_id }}',
        accessToken: '{{ site.instagram.access_token }}',
        limit: '8',
        resolution: 'thumbnail',
        template: '<a class="animation" href="{{link}}"><img class="insta-image" src="{{image}}" /></a>'
      });
      feed.run();
    </script> 

    <div id="instafeed"></div>

  </div>


